ul.onee{
background-color:#f1f1f1;
float:right;
}
li{
display:inline;
color:black;
padding:8px 16px;
text-decoration:none;
}
li:hover{
background-color:#555;
color:white;
}
h1{
color:red;
}
div.two{
width:1500px;
height:250px;
background-image:url("background.jpg");
}
div.three{
background-color:white;
}
#first{
width:70px;
height:70px;
margin-left:150px;
}
#second{
width:70px;
height:70px;
margin-left:170px;
}
#third{
width:70px;
height:70px;
margin-left:170px;
}
#fourth{
width:70px;
height:70px;
margin-left:170px;
}
div.four{
background-color:red;
}
#a{
width:50px;
height:50px;
margin-left:550px;
}

#b{
width:50px;
height:50px;
}

#c{
width:50px;
height:50px;
}
p{
color:white;
}
#icons{
word-spacing:150px;
}
#prod{
margin-left:90px;
}
